.article {
  padding-left: 11vw;
  font-size: calc(9px + 1vw);
  width: 65vw;
}

.article h1 {
  margin: 1vw 0;
  font-size: calc(30px + 1vw);
  line-height: calc(25px + 2vw);
}

.landing {
  height: calc(50vw + 50vh);
  width: 70vw;
  margin-top: 4rem;
}

.landing article {
  margin-top: calc(80px + 20vh);
}

.landing article a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  background-color: #3498db;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.landing article a:hover {
  background: #e0f2fe;
}

.landing .bg {
  width: 80vw;
  height: 30vw;
  background: #3498db;
  -webkit-transform: rotate(-2deg) translateY(13vw);
          transform: rotate(-2deg) translateY(13vw);
  -webkit-transform-origin: center;
          transform-origin: center;
  border-radius: 20px;
  z-index: -1;
}

.landing__image {
  position: relative;
  top: -30vw;
}

.landing__image #hero1 {
  position: absolute;
  top: 19vw;
  left: 5vw;
  width: 35vw;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
  -webkit-box-shadow: 5px -5px 10px #777;
          box-shadow: 5px -5px 10px #777;
  border-radius: 15px;
}

.landing__image #hero2 {
  position: absolute;
  top: 5vw;
  right: -7vw;
  height: 44vw;
  border-radius: 15px;
}

.history span {
  color: #d35400;
}

.history a {
  background: #d35400;
  color: #000;
  padding: 10px 20px;
  border-radius: 15px;
  position: relative;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.history a i {
  margin-left: -33px;
  opacity: 0;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.history a:hover {
  padding: 10px 10px;
}

.history a:hover i {
  margin-left: 0;
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  background-color: #19252f;
  color: #d1d8e0;
  font-family: Google Sans;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #a5b1c2;
}

nav {
  z-index: 9;
  font-size: 14px;
  top: 0;
  position: fixed;
  -webkit-box-shadow: 0 0 5px #111;
          box-shadow: 0 0 5px #111;
}

nav input {
  display: none;
}

nav label {
  position: absolute;
  top: 15px;
  left: 12px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

nav svg {
  height: 30px;
  width: 30px;
}

nav .line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav .line1, nav .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

nav .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

nav .opened .line1, nav .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

nav .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.nav {
  width: 100vw;
  height: 4rem;
  position: relative;
  background: #243640;
  padding: 0 2vw;
}

.nav_content {
  width: 94vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  position: relative;
}

.nav #logo {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.nav_buttons {
  background: #243640;
  padding: 0;
  list-style: none;
}

.nav_buttons a {
  padding: 0 20px;
  line-height: calc(4rem - 2px);
  display: inline-block;
  color: #bdc3c7;
}

.nav_buttons a:hover {
  background-color: #273d52;
}

#signin {
  color: #fff;
  position: absolute;
  right: 0;
  line-height: 4rem;
  padding: 0 20px;
}

#signin:hover {
  background-color: #273d52;
}

@media only screen and (max-width: 640px) {
  #logo {
    line-height: 4rem;
    display: inline-block;
    margin: auto;
  }
  .nav_buttons {
    position: absolute;
    top: 4rem;
    left: -100vw;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40vw !important;
    height: 100vh;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-box-shadow: 0 40px 40px black;
            box-shadow: 0 40px 40px black;
  }
  .nav_buttons a {
    line-height: 1rem;
    border-bottom: 1px solid #dddddd;
    padding: 1.5rem 0 1.5rem 2rem;
    display: block;
  }
  label {
    opacity: 1 !important;
  }
  input:checked ~ .nav .nav_buttons {
    left: -11px;
  }
  input:checked ~ .nav .nav_buttons a {
    position: relative;
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */