.blog
  text-align: center
  margin-top: 6rem
  h1
    font-size: 3rem
  .card__container
    margin-top: 60px
    text-align: left
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr))
    gap: 20px
    padding: 0 calc(2vw + 2vh)
    .card
      height: 0
      padding-bottom: 120%
      box-sizing: border-box
      position: relative
      a
        display: block
        height: 0
        padding-bottom: 120%
        background-color: #202124
      &__image
        object-fit: cover
        clip-path: polygon(100% 0, 100% 68%, 0 68%, 0 0)
        margin-bottom: -30%
        transition: .2s ease-in-out
        img
          transition: .2s ease-in-out
      &__tag
        padding: 5px 10px
        border-radius: 15px
        border: 1px solid white
      &__tag:hover
        background-color: #212B45
      &__desc
        display: block
        margin: 40px 20px
      .bg
        position: absolute
    .card::after
      content: ''
      position: absolute
      top: -3px
      left: -3px
      height: calc(100% + 3px * 2)
      width: calc(100% + 3px * 2)
      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82)
      border-radius: calc(2 * 3px)
      z-index: -1
      animation: animatedgradient 3s ease alternate infinite
      background-size: 300% 300%
    .card:hover
@import ../component/nav
