.blog
  position: relative
  margin-top: 4rem
  padding-top: 2rem
  b,h2
    color: white
  p
    margin-left: calc(2vw + 2vh)
    color: #bac1c8
  b
    font-size: 1.6rem
  .card__container
    margin-top: 50px
    text-align: left
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    a
      width: 43vw
      margin-bottom: 40px
      border-radius: 20px
      height: 35vh
      display: flex
      overflow: hidden
      background-color: #273d52
    .card__image
      width: 33%
    img
      height: 100%
      object-fit: cover
    .card__desc
      color: #bac1c8
      padding: 20px
      display: block
  svg
    position: absolute
    top: 1.4rem
    z-index: -5
    opacity: 0.6
@import ../component/nav
@media only screen and (max-width: 830px)
  .card__container
    a
      width: 90vw !important
    .card__image
      width: 100%
