.content img {
  width: 100vw;
  height: calc(35vw + 4rem);
  -o-object-fit: cover;
     object-fit: cover;
}

.content .article {
  max-width: 800px;
  padding: 0 30px;
  margin: auto;
  font-size: 16px;
  line-height: 32px;
}

.content .article h1 {
  font-size: 3rem;
  line-height: 3.2rem;
}

.nav_buttons a:nth-child(2) {
  border-bottom: 2px solid #3867d6;
}

body {
  margin: 0;
  padding: 0;
  background-color: #04293a;
  color: white;
  font-family: Google Sans;
}

body a {
  text-decoration: none;
  color: white;
}

nav {
  z-index: 9;
  font-size: 14px;
  top: 0;
  position: fixed;
  -webkit-box-shadow: 0 0 20px #111;
          box-shadow: 0 0 20px #111;
}

nav input {
  display: none;
}

nav label {
  position: absolute;
  top: 15px;
  left: 12px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

nav svg {
  height: 30px;
  width: 30px;
}

nav .line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav .line1, nav .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

nav .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

nav .opened .line1, nav .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

nav .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.nav {
  width: 100vw;
  height: 4rem;
  position: relative;
  background: #161b22;
  padding: 0 2vw;
}

.nav_content {
  width: 94vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  position: relative;
}

.nav #logo {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.nav_buttons {
  background: #161b22;
  padding: 0;
  list-style: none;
}

.nav_buttons a {
  padding: 0 20px;
  line-height: calc(4rem - 2px);
  display: inline-block;
  color: #bdc3c7;
}

.nav_buttons a:hover {
  background-color: #222b36;
}

#signin {
  position: absolute;
  right: 0;
  line-height: 4rem;
  padding: 0 10px;
}

#signin:hover {
  background-color: #222b36;
}

@media only screen and (max-width: 640px) {
  #logo {
    line-height: 4rem;
    display: inline-block;
    margin: auto;
  }
  .nav_buttons {
    position: absolute;
    top: 4rem;
    left: -100vw;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40vw !important;
    height: 100vh;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-box-shadow: 0 0 40px black;
            box-shadow: 0 0 40px black;
  }
  .nav_buttons a {
    line-height: 1rem;
    border-bottom: 1px solid #dddddd;
    padding: 1.5rem 0 1.5rem 2rem;
    display: block;
  }
  label {
    opacity: 1 !important;
  }
  input:checked ~ .nav .nav_buttons {
    left: -10px;
  }
  input:checked ~ .nav .nav_buttons a {
    position: relative;
    text-align: left;
  }
}
/*# sourceMappingURL=method.css.map */